<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Social network</title>
    <link rel = "stylesheet" href = "../../css/style.css">
    <script src = "//api.backendless.com/sdk/js/latest/backendless.min.js"></script>
    <script src = "../../js/init.js"></script>
    <script async
            src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRX3pVXWVpmxtAgmTV-X2wF6I3X3dtwc&loading=async&callback=initMap">
    </script>
</head>
<body>
    <div class = "wrapper">
        <header class = "header"></header>
        <script src = "../../js/header.js"></script>
        <main class = "main">
            <div class = "container" id = "place-content">
                <div class = "place__item" data-place-id>
                    <div class = "place__item-image">
                        <img src = "/assets/img/place_image_not_found.jpg" data-field-name="image">
                    </div>
                    <div class = "place__information">
                        <div class = "place__header">
                            <div class = "place__main-info">
                                <div class = "place__main-info-left">
                                    <a href="" class = "place__name" data-field-name="name">Name</a>
                                    <p class = "place__category" data-field-name="category">Category</p>
                                    <div class = "place__hashtags" data-field-name="hashtags">

                                    </div>
                                </div>
                                <div class = "place__main-info-right">
                                    <div>
                                        <span class = "place__longitude-name" >Довжина:</span>
                                        <span class = "place__longitude-value" data-field-name="longitude">23.5456</span>
                                    </div>
                                    <div>
                                        <span class = "place__latitude-name">Широта:</span>
                                        <span class = "place__latitude-value" data-field-name="latitude">36.5456</span>
                                    </div>
                                </div>
                            </div>
                            <div class = "place__actions">
                                <button class = "button" name="remove-btn">Видалити</button>
                            </div>
                        </div>
                        <div class = "place__body">
                            <div class = "place__description" data-field-name="description">Description</div>
                        </div>
                        <div class = "place__footer">
                            <div class = "place__likes__container">
                                <button class="button" name="like-btn">Like</button>
                                <span>Likes:</span>
                                <span data-field-name="likes">0</span>
                            </div>
                            <div class = "place__saved__container">
                                <span>Saved</span>
                                <input type = "checkbox" name = "place-saved" data-field-name="saved">
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "place__map google__map" id="map"></div>

                <script src = "../../js/place.js"></script>
            </div>
        </main>
    </div>
</body>
</html>