<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Social network</title>
    <link rel = "stylesheet" href = "../../css/style.css">
    <script src = "//api.backendless.com/sdk/js/latest/backendless.min.js"></script>
    <script src = "../../js/init.js"></script>
    <script async
            src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRX3pVXWVpmxtAgmTV-X2wF6I3X3dtwc&loading=async&callback=initMap">
    </script>
</head>
<body>
    <div class = "wrapper">
        <header class = "header"></header>
        <script src = "../../js/header.js"></script>
        <main class = "main">
            <div class = "container" id = "place-content">
                <div class = "place__item">
                    <div class = "place__item-image">
                        <img src = "/assets/img/place_image_not_found.jpg">
                    </div>
                    <div class = "place__information">
                        <div class = "place__header">
                            <div class = "place__main-info">
                                <div class = "place__main-info-left">
                                    <p class = "place__name">Name</p>
                                    <p class = "place__category">Category</p>
                                    <div class = "place__hashtags">
                                        <span class = "place__hashtag">hashtag1</span>
                                        <span class = "place__hashtag">hashtag2</span>
                                    </div>
                                </div>
                                <div class = "place__main-info-right">
                                    <div>
                                        <span class = "place__longitude-name">Довжина:</span>
                                        <span class = "place__longitude-value">23.5456</span>
                                    </div>
                                    <div>
                                        <span class = "place__latitude-name">Широта:</span>
                                        <span class = "place__latitude-value">36.5456</span>
                                    </div>
                                    <div class = "place__distance">
                                        <span class = "place__distance-name">Відстань:</span>
                                        <span class = "place__distance-value">36.5456</span>
                                    </div>
                                </div>
                            </div>
                            <div class = "place__actions">
                                <button class = "button">Видалити</button>
                            </div>
                        </div>
                        <div class = "place__body">
                            <div class = "place__description">Description</div>
                        </div>
                        <div class = "place__footer">
                            <div class = "place__likes__container">
                                <span>Likes:</span>
                                <span>0</span>
                            </div>
                            <div class = "place__saved__container">
                                <span>Saved</span>
                                <input type = "checkbox" name = "place-saved">
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class = "place__map google__map" id="map"></div>-->

                <script src = "../../js/place.js"></script>
            </div>
        </main>
    </div>
</body>
</html>