<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Social network</title>
    <link rel = "stylesheet" href = "../../css/style.css">
    <script src = "//api.backendless.com/sdk/js/latest/backendless.min.js"></script>
    <script src = "../../js/init.js"></script>
</head>
<body>
    <div class = "wrapper">
        <header class = "header"></header>
        <script src = "../../js/header.js"></script>
        <main class = "main">
            <div class = "container" id = "friendsInvitations-content">
                <div class = "friendsInvitations__container">
                    <div>
                        <h3>Запрошення</h3>
                    </div>
                    <div class = "friendsInvitations__list">

                    </div>
                    <script src = "../../js/friendsInvitations.js"></script>
                </div>

            </div>
        </main>
    </div>
</body>
</html>