<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Social network</title>
    <link rel = "stylesheet" href = "../css/style.css">
</head>
<body>
    <div class = "wrapper">
        <header class = "header"></header>
        <script src = "../js/header.js"></script>
        <main class = "main">
            <div class = "container" id = "files-content">

                <div class="files__wrapper">
                    <div class = "files__title">
                        <h2>Файли</h2>
                    </div>
                    <div class="files__current__path">
                        <span>/</span>
                    </div>
                    <div class = "files__rows">
                        <div class="files__row back-directory__row">
                            <span class="directory__name">. . .</span>
                        </div>
                    </div>
                    <div class="directory__actions">
                        <div class="files__add-directory">
                            <button class="add-directory__button button">Створити директорію</button>
                        </div>
                        <div class="files__upload-file">
                            <input type="file" name="file-to-upload">
                            <button class="upload-file__button button" disabled>Завантажити файл</button>
                        </div>
                    </div>
                </div>

                <dialog id="dirDialog" class="dialog add-dir-dialog">
                    <form method="dialog" name="directoryAdd">
                        <input type="text" name="directoryName">
                        <div class="dialog__buttons">
                            <button id="cancel" type="reset" class="button">Cancel</button>
                            <button type="submit" class="button submit__button">Confirm</button>
                        </div>
                    </form>
                </dialog>

                <dialog id="shareDialog" class="dialog share-file-dialog">
                    <div>
                        <span>Shared with:</span>
                        <div class="emails-shared">
                            <p>test@gmail.com</p>
                        </div>
                    </div>
                    <form method="dialog" name="shareFile">
                        <input type="text" name="sharedWithEmail">
                        <div class="dialog__buttons">
                            <button type="reset" class="button">Cancel</button>
                            <button type="submit" class="button submit__button">Confirm</button>
                        </div>
                    </form>
                    <div class="errors">

                    </div>
                </dialog>

                <script src = "../js/files.js"></script>
            </div>
        </main>
    </div>
</body>
</html>