<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href = "../css/style.css">
</head>
<body>
    <header class = "header">
        <div class = "container">
            <ul class = "menu">
                <li class = "menu__item">
                    <a href = "#" class = "menu__link" onclick="onNavItemClick('/register'); return false;">Зареєструватися</a>
                </li>
                <li class = "menu__item">
                    <a href = "#" class = "menu__link">Увійти</a>
                </li>
                <li class = "menu__item">
                    <a href = "#" class = "menu__link">Профіль</a>
                </li>
                <li class = "menu__item">
                    <a href = "#" class = "menu__link">Файли</a>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>