<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href = "../css/style.css">
</head>
<body>
    <header class = "header">
        <div class = "container">
            <ul class = "menu">
                <li class = "menu__item">
                    <a href = "/register" class = "menu__link" onclick="onNavItemClick('/register'); return false;">Зареєструватися</a>
                </li>
                <li class = "menu__item menu__log__item">
                    <a href = "/login" class = "menu__link" onclick="onNavItemClick('/login'); return false;">Увійти</a>
                    <a href = "/logout" class = "menu__link" onclick="onNavItemClick('/logout'); return false;">Вийти</a>
                </li>
                <li class = "menu__item menu__profile__item">
                    <a href = "/profile" class = "menu__link" onclick="onNavItemClick('/profile'); return false;">Профіль</a>
                </li>
                <li class = "menu__item menu__files__item">
                    <a href = "/" class = "menu__link">Файли</a>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>