<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Social network</title>
    <link rel = "stylesheet" href = "../css/style.css">
</head>
<body>
    <div class = "wrapper">
        <header class = "header"></header>
        <script src="../js/header.js"></script>
        <main class="main">
            <div class="container" id="profile-content">
                <div class="profile__wrapper">
                    <div class="profile__information-row">
                        <span class="information-row__name">Електронна пошта:</span>
                        <span class="information-row__value" data-field-name = "email"></span>
                    </div>
                    <div class="profile__information-row">
                        <span class="information-row__name">Ім'я користувача:</span>
                        <span class="information-row__value" data-field-name = "username"></span>
                    </div>
                    <div class="profile__information-row">
                        <span class="information-row__name">Вік:</span>
                        <span class="information-row__value" data-field-name = "age"></span>
                    </div>
                    <div class="profile__information-row">
                        <span class="information-row__name">Країна:</span>
                        <span class="information-row__value" data-field-name = "country"></span>
                    </div>
                    <div class="profile__information-row">
                        <span class="information-row__name">Стать:</span>
                        <span class="information-row__value" data-field-name = "sex"></span>
                    </div>
                </div>
                <div>
                    <a href = "/profile/edit" class = "menu__link" onclick="onNavItemClick('/profile/edit'); return false;">Редагувати</a>
                </div>
                <script src="../js/profile.js"></script>
            </div>
        </main>
    </div>
</body>
</html>