<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Social network</title>
    <link rel = "stylesheet" href = "../css/style.css">
    <script src="//api.backendless.com/sdk/js/latest/backendless.min.js"></script>
    <script src="../js/init.js"></script>
</head>
<body>
    <div class = "wrapper">
        <header class = "header"></header>
        <script src="../js/header.js"></script>
        <main class="main">
            <div class="container" id="reset-password-content">
                <div class="form__wrapper">
                    <div class="form__header">Форма відновлення пароля</div>
                    <form method="post" class="form" name="reset-password" action="/must-not-go-here">
                        <div class="input__group">
                            <label for="email" class="input__label">Електронна пошта</label>
                            <input id="email" type="email" name="email" class="input__field">
                        </div>
                        <button type="submit" class="button submit__button">Надіслати листа для відновлення паролю</button>
                        <div class="successful__reset-password">
                            <span>Листа надіслано на пошту! Перевірте вказану пошту</span>
                        </div>
                        <div class= "errors__reset-password">

                        </div>
                    </form>
                </div>
                <script src="../js/resetPassword.js"></script>
            </div>
        </main>
    </div>
</body>
</html>